h1 {
  font-family: 'Oswald', sans-serif;
}

.nav {
  display:flex;
  justify-content:space-around;
  align-items: center;
  background-color:rgba(192,192,192,0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.nav-items {
  list-style-type:none;
  display:flex;
}

.nav-items > li {
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  
}

.logo {
  width: 60px;
}

footer {
  background-color:rgb(9, 9, 9);
  color:rgb(151, 146, 146);
  height: 30px;
  padding-top: 12px;
}





